In [4]:
import numpy as np
import pandas as pd
import os
import glob
from IPython.display import display

In [5]:
dataframes = {os.path.splitext(os.path.basename(f))[0] : pd.read_csv(f) for f in glob.glob('*.csv')}

In [7]:
categories = []
word_counts = []

for name in dataframes:
    if name:
        dataframe = dataframes[name]
        categories.append(name)
        dataframe['number_of_words'] = dataframe['final_news'].apply(lambda n: len(str(n).split()))
        total_number_of_words = dataframe['number_of_words'].sum()
        print(total_number_of_words)
        word_counts.append(total_number_of_words)

1162038
103933
2907
25825
120938
18222
25998
25193
68225
20653
3842
64219
823590

In [8]:
# creating a DataFrame
dict = {'Category' : categories,
        'Number of Words' : word_counts 
       }
df = pd.DataFrame(dict)
  
# displaying the DataFrame
display(df)

                Category  Number of Words
0                  च्वसु          1162038
1    झीगु स्वनिगः > बुखँ           103933
2       नेवाः व्यक्तित्व             2907
3                 आर्थिक            25825
4              सम्पादकीय           120938
5        अन्तर्राष्ट्रिय            18222
6          सम्पादकयात पौ            25998
7   अन्तर्राष्ट्रिय ख्यः            25193
8        समाज व संस्कृति            68225
9               मनोरञ्जन            20653
10        शिक्षा व करिअर             3842
11               मू बुखँ            64219
12        समाचार व विचार           823590

In [10]:
categories = []
sentence_count = []

for name in dataframes:
    if name:
        dataframe = dataframes[name]
        categories.append(name)
        dataframe['number_of_sentences'] = dataframe['final_news'].apply(lambda n: len(str(n).split("|")))
        total_number_of_sentence = dataframe['number_of_sentences'].sum()
        print(total_number_of_sentence)
        sentence_count.append(total_number_of_sentence)

1700
790
6
118
566
128
157
218
201
34
21
234
6255

In [11]:
# creating a DataFrame
dict = {'Category' : categories,
        'Number of Sentences' : sentence_count 
       }
df = pd.DataFrame(dict)
  
# displaying the DataFrame
display(df)

                Category  Number of Sentences
0                  च्वसु                 1700
1    झीगु स्वनिगः > बुखँ                  790
2       नेवाः व्यक्तित्व                    6
3                 आर्थिक                  118
4              सम्पादकीय                  566
5        अन्तर्राष्ट्रिय                  128
6          सम्पादकयात पौ                  157
7   अन्तर्राष्ट्रिय ख्यः                  218
8        समाज व संस्कृति                  201
9               मनोरञ्जन                   34
10        शिक्षा व करिअर                   21
11               मू बुखँ                  234
12        समाचार व विचार                 6255

In [12]:
final_df = pd.concat(dataframes)

In [13]:
total_number_of_sentence = final_df['number_of_sentences'].sum()

In [14]:
total_number_of_sentence

10428

In [15]:
total_number_of_word = final_df['number_of_words'].sum()

In [16]:
total_number_of_word

2465583

In [18]:
# creating a DataFrame
dict = {
    'Total Number of Words' : [total_number_of_word],
    'Total Number of Sentences' : [total_number_of_sentence]
}
df = pd.DataFrame(dict)
  
# displaying the DataFrame
display(df)

   Total Number of Words  Total Number of Sentences
0                2465583                      10428