In [33]:
import numpy as np
import pandas as pd
import os
import glob
from IPython.display import display

In [34]:
dataframes = {os.path.splitext(os.path.basename(f))[0] : pd.read_csv(f) for f in glob.glob('*.csv')}

In [36]:
categories = []
word_counts = []

for name in dataframes:
    if name:
        dataframe = dataframes[name]
        categories.append(name)
        dataframe['number_of_words'] = dataframe['news_text'].apply(lambda n: len(str(n).split()))
        total_number_of_words = dataframe['number_of_words'].sum()
        print(total_number_of_words)
        word_counts.append(total_number_of_words)

149391
212275
77889
1063510
68538
202283
140365
428946
129840
86552
79885
1066776

In [37]:
# creating a DataFrame
dict = {'Category' : categories,
        'Number of Words' : word_counts 
       }
df = pd.DataFrame(dict)
  
# displaying the DataFrame
display(df)

           Category  Number of Words
0      न्ह्यइपुख्यः           149391
1              अर्थ           212275
2            मेमेगु            77889
3             बिचाः          1063510
4           साहित्य            68538
5   अन्तर्राष्ट्रिय           202283
6         नेवाःख्यः           140365
7           स्वनिगः           428946
8           कासाख्य           129840
9          संस्कृति            86552
10            उसाँय            79885
11        राष्ट्रिय          1066776

In [39]:
categories = []
sentence_count = []

for name in dataframes:
    if name:
        dataframe = dataframes[name]
        categories.append(name)
        dataframe['number_of_sentences'] = dataframe['news_text'].apply(lambda n: len(str(n).split("|")))
        total_number_of_sentence = dataframe['number_of_sentences'].sum()
        print(total_number_of_sentence)
        sentence_count.append(total_number_of_sentence)

576

AttributeError: 'float' object has no attribute 'split'

In [35]:
# creating a DataFrame
dict = {'Category' : categories,
        'Number of Sentences' : sentence_count 
       }
df = pd.DataFrame(dict)
  
# displaying the DataFrame
display(df)

          Category  Number of Sentences
0             कासा                  741
1  अन्तर्राष्ट्रिय                  986
2          राजनीति                  900
3             बिचा                  473
4         मनोरन्जन                  448
5        राष्ट्रिय                 8294
6            अपराध                  257

In [48]:
final_df = pd.concat(dataframes)

In [49]:
total_number_of_sentence = final_df['number_of_sentences'].sum()

In [54]:
total_number_of_sentence

12099

In [55]:
total_number_of_word = final_df['number_of_words'].sum()

In [56]:
total_number_of_word

1700236

In [59]:
# creating a DataFrame
dict = {
    'Total Number of Words' : [total_number_of_word],
    'Total Number of Sentences' : [total_number_of_sentence] 
}
df = pd.DataFrame(dict)
  
# displaying the DataFrame
display(df)

   Total Number of Words  Total Number of Sentences
0                1700236                      12099