In [1]:
import numpy as np
import pandas as pd
import os
import glob
from IPython.display import display

In [2]:
dataframes = {os.path.splitext(os.path.basename(f))[0] : pd.read_csv(f) for f in glob.glob('*.csv')}

In [3]:
categories = []
word_counts = []

for name in dataframes:
    if name:
        dataframe = dataframes[name]
        categories.append(name)
        dataframe['number_of_words'] = dataframe['final_news'].apply(lambda n: len(n.split()))
        total_number_of_words = dataframe['number_of_words'].sum()
        print(total_number_of_words)
        word_counts.append(total_number_of_words)

22513
2599
9869
6342
1950
3885
10548
29883
11725
9901

In [4]:
# creating a DataFrame
dict = {'Category' : categories,
        'Number of Words' : word_counts 
       }
df = pd.DataFrame(dict)
  
# displaying the DataFrame
display(df)

             Category  Number of Words
0  knowledgable-facts            22513
1                कासा             2599
2      दुर्घटना-अपराध             9869
3     अन्तर्राष्ट्रिय             6342
4               नेवाः             1950
5                बजाः             3885
6        स्थानिय-समाज            10548
7             राजनीति            29883
8                 कला            11725
9           राष्ट्रिय             9901

In [5]:
categories = []
sentence_count = []

for name in dataframes:
    if name:
        dataframe = dataframes[name]
        categories.append(name)
        dataframe['number_of_sentences'] = dataframe['final_news'].apply(lambda n: len(n.split("|")))
        total_number_of_sentence = dataframe['number_of_sentences'].sum()
        print(total_number_of_sentence)
        sentence_count.append(total_number_of_sentence)

69
19
82
46
10
31
74
228
50
95

In [6]:
# creating a DataFrame
dict = {'Category' : categories,
        'Number of Sentences' : sentence_count 
       }
df = pd.DataFrame(dict)
  
# displaying the DataFrame
display(df)

             Category  Number of Sentences
0  knowledgable-facts                   69
1                कासा                   19
2      दुर्घटना-अपराध                   82
3     अन्तर्राष्ट्रिय                   46
4               नेवाः                   10
5                बजाः                   31
6        स्थानिय-समाज                   74
7             राजनीति                  228
8                 कला                   50
9           राष्ट्रिय                   95

In [7]:
final_df = pd.concat(dataframes)

In [8]:
total_number_of_sentence = final_df['number_of_sentences'].sum()

In [9]:
total_number_of_sentence

704

In [10]:
total_number_of_word = final_df['number_of_words'].sum()

In [11]:
total_number_of_word

109215

In [13]:
# creating a DataFrame
dict = {
    'Total Number of Words' : [total_number_of_word],
    'Total Number of Sentences' : [total_number_of_sentence] 
}
df = pd.DataFrame(dict)
  
# displaying the DataFrame
display(df)

   Total Number of Words  Total Number of Sentences
0                 109215                        704